.menu_background{
  background-color: #ccf5;
  width:100%;
  height: 100%;
  position: absolute;
  z-index:10;
  color: #b9d9e6;
  font-size: 25pt;
}

.canvas_style{
  background-color: #000;
}

.menu_head{
  color: #f53;
  background-color: #4440;
  padding: 10px;
  margin: 5px;
  width: max-content;
  border-radius: 10px;
  font-size: 11pt;
  min-width: 200px;
  font-family: sans-serif;
  font-weight: 600;
  transform-origin: center left;
  transition-duration: 300ms;
}

.menu_item{
  display: flex;
  color: #f53;
  background-color: #222;
  padding: 10px;
  margin: 5px;
  width: max-content;
  border-radius: 10px;
  font-size: 11pt;
  min-width: 200px;
  font-family: sans-serif;
  font-weight: 600;
  transform-origin: center left;
  transition-duration: 300ms;
  border-bottom: #111 solid 1px;
  border-right: #111 solid 1px;
}

.menu_item:hover{
  background-color: #373737;  
  transform: scaleX(1.05) scaleY(1.1);
}

.menu_item_clikit{
  border: solid;
}

.view_panel{
  background-color: #00000000;
  width:100%;
  height: 100%;
  position: relative;
  display: flex;
}
.overlay_panel{
  background-color: #00000000;
  width:100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
}



.machine_panel{
  background-color: #00000088;
  width:100%;
  height: 100px;
  position: relative;
  display: flex;
}

.panel_group{
  display: flex;
  color:#fff;
  background-color: #00000088;
  padding:10px;
  margin:5px;
}
.panel_item{
  color:#fff;
  background-color: #00000088;
  padding:5px;
  margin:5px;
}

.overlay_center{
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url('../assets/cross.png');
}


.joy_panel{
  position: absolute;
  flex-direction: row;
  background-color: #00000000;
  width:100%;
  height: 100%;
  display: flex;
  font-family: sans-serif;
  font-size: 10pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.but_group{
  width: 250px;
  display: flex;
  height: 250px;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ff00ff00;
  padding: 5px;
  box-sizing: border-box;
}

.but_subgroup{
  width: 100%;
  display: flex;
  height: 25%;
  flex-shrink: 0;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  background-color: #ff00ff00;
  padding: 2px;
  box-sizing: border-box;
}

.but{
  width:150px;
  height: 150px;
  flex-shrink: 0;
  background-color: #ff00ff22;
  box-sizing: border-box;
}

.butg{
  width: calc(25% - 3px);
  height: 100%;
  border-radius: 5px;
  border: solid #f0f 1px;
  /* flex-shrink: 0; */
  background-color: #ff00ff44;
  box-sizing: border-box;
}

.but100{
  width:100%;
  height: 33%;
  flex-shrink: 0;
  border: solid #000 1px;
  background-color: #ff00ff44;
  box-sizing: border-box;
}

.but50{
  width:50%;
  height: 33%;
  flex-shrink: 0;
  border: solid #000 1px;
  background-color: #ff00ff44;
  box-sizing: border-box;
}

.fullScreenTouch{
  position: absolute;
z-index: -1;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
background-color: #0000;
}

.startBackground{
  background-color: rgba(0, 0, 0, 0);
  background-position: center center, center center;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-size: cover;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:100%;
  flex-direction:column;
}

.startButton{
  color:#fff;
  background-color:#0009;
  border-radius: 5px;
  margin:5px;
  padding:10px;
  transition-duration: 200ms;
  cursor: pointer;
}
.startButton:hover{
  background-color: #2229;  
  transform: scaleX(1.05) scaleY(1.1);
}

.loadingIndicator{
  color:#fff;
  background-color:#0009;
  border-radius: 5px;
  padding:10px;
  margin:5px;
  width:80%;
  overflow: hidden;
  font-size: 9pt;
}