body{
  margin:0px;
  padding: 0px;
}
.global_wrapper{
  width: 100%;
  box-sizing: border-box;
}

.header{
  width:100%;
  padding: 10px;
  min-height: 40px;
  background-color: #999;
  box-sizing: border-box;
}
.footer{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #444;
  color:#fff;
}
.footer a{
  color:#fff;  
}
.footer a:visited{
  color:#fff;  
}

.fullscreen_button{
  background-color: #9c9;
  width: max-content;
  padding: 10px;
  color: #361;
  border-radius: 10px;
  border-bottom-color: #000;
  border-bottom: #361 solid 1px;
  user-select: none;
  cursor: pointer;
}

.fullscreen_button:hover{
  background-color: #ada;
}



.center{
  display: flex;
  width:100%;
  box-sizing: border-box;
  flex-wrap:wrap;
  justify-content: center;
  min-height: calc(100vh - 79px);
}
.left_panel{
  width:25%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ccc;
}
.game_panel{
  width:75%;
  padding: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 1020px){
  .left_panel{
    width:100%;
  }
  .game_panel{
    width:auto;
    order:-1;
  }  
}

#app-main{
  width:100%;
  box-sizing: border-box;
}