.but{
  width:100px;
  height: 100px;
  background-color: aqua;
}

.cur{
  width:10px;
  height: 10px;
  position: absolute;
  background-color:#000;
}

.scre{
  width:440px;
  height: 340px;
  position: relative;
  background-color:#FFF;
}

.bar-indicator{
  border-style:solid;
  border-width: 1px;
  display:flex;
  width: min-content;
  box-sizing: border-box;
  padding: 2px;
  padding-left: 0px;  
  background-color:#000;
}

.bar-indicator_bar{
  width:8px;
  height:24px;
  margin-left:2px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
}

.bar-indicator_bar__active{
  background-color: #0f0;
  border-color:#fff;
}

.bar-indicator_bar__demi{
  background-color: #0f07;
  border-color:#fff7;
}

.bar-indicator_bar__inactive{
  background-color: #0f00;
  border-color:#fff7;
}



.bar-indicator_bar__active1{
  background-color: #0f0;
  border-color:#0f0;
}

.bar-indicator_bar__demi1{
  background-color: #9f9;
  border-color:#0f0;
}

.bar-indicator_bar__inactive1{
  background-color: #9f9;
  border-color:#9f9;
}

